* {
    margin: 0;
    padding: 0;
}

:root {
    --blue: #0ea5e9;
    --yellow: #fbbf24; 
    --gray: #e5e7eb; 
    --white: #fff; 
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
    font-size: 1.2rem;
}

.sidebar-container {
    grid: 1 / 1 / 1 / 2;
    color: var(--white);
    background-color: var(--blue);
    padding: 16px 0px 0px 16px;
}

.sidebar-container h2 {
    display: flex;
    align-items: center;
}

/* Make the list a grid instead? */

.sidebar-container ul {
    list-style: none;
}

/* .sidebar-container ul li {
    font-weight: 550;
} */

.sidebar-container svg {
    fill: var(--white);
    height: 2rem;
    width: auto;
}

.sidebar-container ul li svg {
    height: 1rem;
    width: auto;
}

.main-container {
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.header {
    grid: 1 / 1 / 2 / 1;
}

.main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: var(--gray);
    padding: 24px 16px; 
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.card {
    border-left: 10px solid var(--yellow);
    background-color: var(--white);
    padding: 16px;
}