* {
    margin: 0;
    padding: 0;
}

:root {
    --blue: #0ea5e9;
    --yellow: #fbbf24; 
    --gray: #e5e7eb; 
    --white: #fff; 
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    height: 100vh;
}

button {
    all: unset;
}

svg {
    height: 1.4rem;
    width: auto;
}

.sidebar-container {
    grid: 1 / 1 / 1 / 2;
    color: var(--white);
    background-color: var(--blue);
    padding: 16px 64px 0px 12px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.sidebar-container button svg {
    vertical-align: middle;
    margin-right: 8px;
}

.sidebar-container button {
    display: flex;
    align-items: center;
    gap: 18px;
}

.sidebar-container ul {
    list-style: none;
    padding-left: 10px;
}

.sidebar-container li {
    margin-bottom: 12px;
    font-weight: 550;
}

.sidebar-container h2 {
    margin-bottom: 16px;
}

.sidebar-container button:hover {
    color: var(--gray);
}

.sidebar-container button:hover svg {
    fill: var(--gray);
}

.sidebar-container h2 button{
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 1.6rem;
}

.sidebar-container h2 svg {
    height: 2.6rem;
    width: auto;
}

.sidebar-container svg {
    fill: var(--white);
}

.main-container {
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.header {
    border: 2px solid purple;
    grid: 1 / 1 / 2 / 1;
    padding: 16px 0px 0px 32px;
    /* top right bottom left */
}

.header-top {
    border: 2px solid red;
    display: flex;
    align-items: center;
    gap: 64px;
}

.header-top .searchbar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-top .searchbar input {
    border: none;
    background-color: var(--gray);
    border-radius: 12px;
    padding: 6px;
    width: max(300px, 40vw);
}

.header-top .top-right {
    display: flex;
}

.header-bottom {
    border: 2px solid green;
    display: flex;
}

.main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: var(--gray);
    padding: 24px 16px; 
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.card {
    border-left: 10px solid var(--yellow);
    background-color: var(--white);
    padding: 16px;
}